Library
Logs
.vs
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0-0.log
Logs/shadercompiler-AssetImportWorker1-0.log
UserSettings/Layouts/default-6000.dwlt
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
