Library
Logs
.vs
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0-0.log
Logs/shadercompiler-AssetImportWorker1-0.log
UserSettings/Layouts/default-6000.dwlt
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-6000.dwlt
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0-0.log
Logs/shadercompiler-AssetImportWorker1-0.log
UserSettings/Layouts/default-6000.dwlt
Assets/Scenes/LaneTest.unity
.vs/2D Project/v17/.suo
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0-0.log
Logs/shadercompiler-AssetImportWorker1-0.log
Logs/shadercompiler-UnityShaderCompiler.exe-0.log
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Temp/FSTimeGet-46a0f1b440429354eaf9f3f198f3ee5a
Temp/FSTimeGet-68379c53670e9f14d88eef2afaeb64e5
Temp/FSTimeGet-869bb4620cf83704d80ccd4d007f9e4a
Temp/FSTimeGet-a497291b0e2375048826b56ffe49d071
Temp/FSTimeGet-e38f1b29ecd6c8245af91fbf3a1bdd36
Temp/UnityLockfile
UserSettings/Layouts/default-6000.dwlt
